<a href="https://colab.research.google.com/github/sriram2708/ml_ai_notebooks/blob/main/python_basic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
{1,2,3}

{1, 2, 3}

In [32]:
{1,2,3,1,2,1,2,3,3,2,2,2,2,1,1,2,2,3,3,1,1,3,3,2,2,2,1,1,2}

{1, 2, 3}

In [31]:
if 1 < 2:
    print('one')
else:
    print('two')

one

In [4]:
if 1 == 2:
    print('first')
elif 3 == 3:
    print('middle')
else:
    print('Last')

middle

In [30]:
x = [1,2,3,4,5]
for i in x:
    print('yo')

yo
yo
yo
yo
yo

In [6]:
for hi in x:
    print(hi+hi)

2
4
6
8
10

In [7]:
out = []
for item in x:
    out.append(item**2)
print(out)

[1, 4, 9, 16, 25]

In [8]:
a = ("aaa", "ccc", "ddd")
b = ("bbb", "fff", "ggg")

x = zip(a, b)

#use the tuple() function to display a readable version of the result:

print(tuple(x))

(('aaa', 'bbb'), ('ccc', 'fff'), ('ddd', 'ggg'))

In [15]:
def times2(var):
    return var*2
times2(2)
lambda var: var*2
x = [1,2,3,4,5]

map(times2,x)
list(map(times2,x))

[2, 4, 6, 8, 10]

In [17]:
s = 'hello i am kane'
s.upper()

'HELLO I AM KANE'

In [18]:
s.split()

['hello', 'i', 'am', 'kane']

In [19]:
# What is 7 to the power of 4?
7**4

2401

In [22]:
planet = "Earth"
diameter = 12742
print('The diameter of {} is {}'.format(planet,diameter))

The diameter of Earth is 12742

In [29]:
def domainGet(email):
  return email.split('@')[-1]
domainGet('qqqqq@domain.com')

'domain.com'